<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="admin.css")
    title Temblador - Admin Panel
  body
    form#gallery-form(action="/admin/addArt" method="post" enctype="multipart/form-data")
      label Upload an image
        input(type="file" name="uploadedFile" required)
      label Title
        input(type="text" name="title" required)
      label Alternate Text (for accessability)
        input(type="text" name="altText" required)
      input(type="reset" value="Reset")
      input(type="submit" value="Submit")
    #gallery-list
      if allArt
        each art in allArt
          div
            img(src="img/uploads/" + art.filename width="200px" height="200px" style="object-fit:cover;")
            div
              div= "Title: " + art.title
              div= "File name: " + art.filename
              div= "File size: " + art.filesize
              div= "Alt text: " + art.altText
              form(action="/admin/deleteArt" method="post")
                input(type="hidden" name="id" value=art._id)
                input(type="submit" value="Delete")
      else
        p No Art
    form#store-form(action="/admin/addProduct" method="post" enctype="multipart/form-data")
      label Upload an image
        input(type="file" name="uploadedFile" required)
      label Alternate Text (for accessibility)
        input(type="text" name="altText" required)
      label Product Name
        input(type="text" name="name" required)
      label Price (As pennies $12.51 -> 1251)
        input(type="number" name="price" placeholder="3998" required)
      label Product Description
        input(type="text" name="description" required)
      input(type="reset" value="Reset")
      input(type="submit" value="Submit")
    #store-list
      if allProducts
        each product in allProducts
          div
            img(src="img/uploads/" + product.filename width="200px" height="200px" style="object-fit:cover;")
            div
              div= "Name: " + product.name
              div= "Price: " + product.price
              div= "Description: " + product.description
              div= "Image filename: " + product.filename
              div= "Image filesize: " + product.filesize
              form(action="/admin/deleteProduct" method="post")
                input(type="hidden" name="id" value=product._id)
                input(type="submit" value="Delete")
      else
        p No Products